.navigation-links7-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links7-navlink {
  text-decoration: none;
}
.navigation-links7-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.navigation-links7-navlink2 {
  margin-left: 32px;
  text-decoration: none;
}








@media(max-width: 767px) {
  .navigation-links7-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links7-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links7-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links7-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.photos-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.photos-header {
  width: 100%;
  height: 87px;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.photos-image {
  width: 127px;
  height: 37px;
}
.photos-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.photos-burger-menu {
  display: none;
}
.photos-icon {
  width: 16px;
  height: 16px;
  display: flex;
}
.photos-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.photos-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.photos-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.photos-image01 {
  height: 2rem;
}
.photos-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.photos-icon02 {
  width: 16px;
  height: 16px;
}
.photos-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.photos-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.photos-icon08 {
  width: 16px;
  height: 16px;
}
.photos-gallery {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
}
.photos-container02 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.photos-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-container03 {
  top: 0px;
  left: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/img_0845-min-1400w.jpeg");
}
.photos-gallery-card01 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-container04 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  display: flex;
  position: absolute;
  background-size: cover;
  background-image: url("public/playground_assets/img_1397-min-1400w.jpeg");
  background-position: center;
}
.photos-gallery-card02 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-container05 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background-size: cover;
  background-image: url("public/playground_assets/img_2547-min-1400w.jpeg");
  background-position: center;
}
.photos-gallery-card03 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-container06 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-image02 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.photos-image03 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 300px;
  padding: 32px;
  object-fit: cover;
  flex-direction: column;
  object-position: center;
}
.photos-image03:hover {
  opacity: 1;
}
.photos-gallery-card04 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-image04 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.photos-gallery-card05 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-image05 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.photos-gallery-card06 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-image06 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.photos-gallery-card07 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-image07 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.photos-container07 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-container08 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-container09 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 300px;
  display: flex;
  opacity: 0;
  padding: 32px;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.photos-gallery-card08 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-image08 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.photos-gallery-card09 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-image09 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.photos-gallery-card10 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-image10 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.photos-gallery-card11 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-image11 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.photos-container10 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-container11 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.photos-container12 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 300px;
  display: flex;
  opacity: 0;
  padding: 32px;
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.photos-container12:hover {
  opacity: 1;
}
.photos-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: center;
}
@media(max-width: 991px) {
  .photos-container02 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .photos-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .photos-nav {
    display: none;
  }
  .photos-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photos-gallery {
    padding-left: 32px;
    padding-right: 32px;
  }
  .photos-container02 {
    grid-template-columns: 1fr 1fr;
  }
  .photos-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .photos-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .photos-header {
    padding: var(--dl-space-space-unit);
  }
  .photos-mobile-menu {
    padding: 16px;
  }
  .photos-gallery {
    padding: var(--dl-space-space-unit);
  }
  .photos-container02 {
    grid-template-columns: 1fr;
  }
  .photos-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .photos-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
